@import "../../styles/_common";

.sbw-signup{
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  top:80px;
  background-image: url("../../assets/images/signup.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  .sbw-form {
    height: 252px;
    width: 40vw;
    background-color: #ffffff;
    border: 1px solid #959595;
    position: absolute;
    top: 20%;
    left: 10%;
    .sbw-form-wrapper {
      width:100%;
      background-color: #ffffff;
      margin-top: 45px;
      .sbw-input-wrapper {
        margin-bottom: 10px;
        width: 100%;
        display: inline-block;
        padding: 5px;
        .sbw-input{
          margin-left: 5px;
          width: 49%;
          font-family: "Gotham_SSm_4r",Helvetica,Arial,sans-serif;
          font-size: 14px;
          font-size: .875rem;
          line-height: 21px;
          line-height: 1.3125rem;
          color: #586062;
          border-radius: 3px;
          outline: none;
          border: 1px solid rgba(149, 149, 149, 0.52);
          padding: 12px 10px 10px;
        }
      }
      .sbw-signup-btn{
        width: 70%;
        margin: auto;
        color:#fff;
        font-size: 14px;
        background: #2dbe60;
        padding: .9375rem 9.9375rem .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: normal;
        display: block;
        font-family: "Gotham_SSm_4r",Helvetica,Arial,sans-serif;
        text-align: center;
      }
    }
  }
}
