/*BASE*/
$PR_red: #cd040b;
$PR_darkred_alt: rgba(195, 22, 30, 0.95);
$PR_blk: #000;
$PR_wht: #fff;

/*GREYS*/
$PR_grey_entry:		rgb(75, 101, 128);
$PR_grey_dark:		#333; /*DEFAULT TXT COLOR*/
$PR_grey:			#4b4b4b;
$PR_grey_medium:	#666;
$PR_grey_light:		#959595;
$PR_grey_lighter:	#ccc;
$PR_offwhite:		#eee;
$PR_grayblue:		#edf3f6;

/*SECONDARIES*/
$PR_teal_dark:		#1f513b;
$PR_teal_medium:	#43ad7d;
$PR_teal:			#82ceac;
$PR_sky:			#ABE0F9;
$PR_gold:			#f8d362;
$PR_salmon:			#f9b295;

/*FADED SECONDARIES*/
$PR_green:			#e9f8e9;
$PR_blue:			#e8f6fe;
$PR_yellow:			#feffe4;
$PR_orange:			#fef0e8;

/*LINKS*/
$PR_link:			#0067C8;
$PR_link_active:	#00488B;

/*SHADOW*/
$PR_shadow_right:	1px 1px 9px -5px rgba(0,0,0,.75);
$PR_shadow_left:	0px 0px 15px -4px #666;
