@import "../../styles/_common";

.Player_DetailsContainer {
	height: 100vh;
	position: absolute;
	top: 45px;
	right: 0;
	width: 40vw;
	overflow: hidden;

	@include respond(medium) {
		width: 100%;
	}

    .DetailsHeader {
		height: 45px;
	    line-height: 40px;
	    font-weight: normal;
	    font-size: 16px;
	    width: 100%;
	    padding-left: 20px;
	    background: #1C3039;;
	    color: #FFF;
	    margin: 0;

	    @include respond(small) {

				 font-size: 14px

			}
	}
	.DetailsHeaderRight {
		float: right;
		text-align: right;
		height: 40px;
		line-height: 40px;
		font-weight: normal;
		font-size: 16px;
		width: 50%;
		padding-left: 20px;
		padding-right: 20px;
		background-color: rgb(30,59,71);
		color: #FFF;
		margin: 0;
		 @include respond(small) {
			  height: 20px;
			  font-size: 14px;
			  line-height: 22px;
			}

	}
	.DetailsBody {
		width: 100%;
		height: 100%;
		background-color: rgba(30,59,71,0.96);
		.imageIcon{
			height: 18vh;
			float: left;
			margin-left: 2px;
			margin-right: 10px;
			width: 15vw;
		}
		p{
			color: #fff;
    	margin: 0;
		}
		.ios & {
			background-color: rgb(30,59,71);
		}
		.closeBtn {
			background: #d93434;
			background-image: -webkit-linear-gradient(top, #d93434, #b8542c);
			background-image: -moz-linear-gradient(top, #d93434, #b8542c);
			background-image: -ms-linear-gradient(top, #d93434, #b8542c);
			background-image: -o-linear-gradient(top, #d93434, #b8542c);
			background-image: linear-gradient(to bottom, #d93434, #b8542c);
			  -webkit-border-radius: 28;
			  -moz-border-radius: 28;
			  border-radius: 28px;
			  text-shadow: 1px 1px 2px #666666;
			  font-family: Arial;
			  color: #ffffff;
			  font-size: 20px;
			  padding: 10px 20px 10px 20px;
			  text-decoration: none;
				top: 78vh;
		    position: absolute;
				left: 18vw;
			}
		.closeBtn:hover {
			background: #fa723c;
		  background-image: -webkit-linear-gradient(top, #fa723c, #d93434);
		  background-image: -moz-linear-gradient(top, #fa723c, #d93434);
		  background-image: -ms-linear-gradient(top, #fa723c, #d93434);
		  background-image: -o-linear-gradient(top, #fa723c, #d93434);
		  background-image: linear-gradient(to bottom, #fa723c, #d93434);
		  text-decoration: none;
		}
	}
}
