@import "../../styles/_common";

.appBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
	background-color: #e8f6fe;
	background-size: 100% 100%;
	background-repeat: no-repeat;
    z-index: -10;
    h1{
      top: 100px;
      position: absolute;
      margin: auto;
    }
}
