@import "../../styles/_common";

.appBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
	background-color: #e8f6fe;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  overflow-y: auto;
  z-index: -10;
  top: 6em;
  h1{
    top: 100px;
    position: absolute;
    margin: auto;
  }
  .tracks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .track {
      float: left;
      width: 150px;
      margin-right: 15px;
      width: 150px;
      p{
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
      }
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
