@import "../../styles/_common";

.appNotifier {
  position: absolute;
  width: 20vw;
  height: 100px;
  top:80px;
  right:0;
  background-color: lightcyan;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .outerWrap{
    .innerWrap{
      display: block;
    }
  }
}
